
body {
    
    --header-height: 80px;
    --shadow: ;
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 1000px;
    min-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    padding: 0px;
    margin: 10px;
}

.workshopDiv {
    border: 2px solid black;
    width: 30vw;
    min-height: 15vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

button {
    border: 2px solid black;
    border-radius: 10px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

#logout {
    width: 140px;
    margin-top: 0px;
}

button:hover {
    background-color: black;
    color: white;
}

a {
    border: 2px solid black;
    border-radius: 10px;
    height: 40px;
    width: 160px;
    background-color: white;
    text-transform: none;
    color: black;
    text-decoration: none;
    padding: 7px 30px;
}

a:hover {
    background-color: black;
    color: white;
}

input, select {
    margin: 10px;
    border-radius: 5px;
    height: 5vh;
    border: 1px solid black;
}

p {
    margin: 5px;
    border: 2px dotted black;
    padding: 5px;
}

p:hover, .dragOver {
    background-color: black;
    color: white;
    cursor: grab;
}